*
{
    margin:0 0;
}

#btnSiguiente{
    margin-right: .8vw;
    background-color: rgb(131, 153, 166);
    border-color:  rgb(7, 148, 14);
    padding: .3vw 1.2vw .3vw 1.2vw;
    position: absolute;
    right: 0;
    font-size: 1.2vw;
    margin-top: -1.5vh;
}

#btnAtras{
    background-color: rgb(131, 153, 166);
    border-color:  rgb(209, 40, 10);
    margin-right: 9vw;
    margin-top: -1.5vh;
    padding: .3vw 2vw .3vw 2vw;
    position: absolute;
    right: 0;
    font-size: 1.2vw;
}

#btnAtras:hover{
    background-color:  rgb(209, 40, 10);
}

.campoInvalidar{
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.75rem;
    border-color: var(--color-error);
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.campoValidar{
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.75rem;
    border-color: var(--color-primary);
    background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.columnaBarraNavegacion{
    width: 100%;
    margin-top: 1.2vh;
}

.columnaBarraNavegacion nav{
    background-color: rgb(131, 153, 166);
    border-radius: none;
}

.columnaDerecha{
    height: 100%;
}

.columnaIzquierda{
    height: 100%;
}

.columnaLogo img{
    width: 35%;
    margin-left: -16px;
    margin-top: .2vh;
}

.columnaPrincipal{
    height: 100%;
}

.columnaTituloContenido{
    height: 50px;
    margin-top: 12px;
    margin: auto;
}

.columnaTituloContenido h2{
    border: 2px solid black;
    width: 40vw;
    text-align: center;
    margin-top: .2vh;
    font-size: 1.6vw;
}

.columnaTitulo h2{
    text-align: center;
    margin-top: 1.5vh;
    font-size: 1.6vw;
}

.contenedorContenidoPrincipal{
    border: 2px solid rgb(131, 153, 166);
    position: relative;
}

.contenedorPrincipal{
    height: 100vh;
	overflow: auto;
}

.filaBarraNavegacion{
    height: 9%;
}

.filaBotones{
    position: absolute;
    width: 100%;
    bottom: 0;
    height:5vh;
}

.filaContenido{
    height: 78%;
}

.filaContenidoPrincipal{
    height: 75%;
}

.filaLogoTitulo{
    height: 6%;
}

.filaPrincipal
{
    height: 100%;
}

.filaTituloContenido{
    height: 10%;
    margin-top: 1vh;
}

@font-face {
    font-family: 'Poppins';
    src: url("../poppinsBarraNavegacion/Poppins-Regular.otf") format("opentype");
}

nav a:not(.activo):hover {
    text-decoration: none;
    outline : none;
}

nav a{
    border: 1px solid green;
    text-decoration: none;
    color: white;
    padding: .8vw;
    border-right: 1px solid white;
    font-family: Poppins;
    font-size: .9vw;
    margin-top: 1px;
}

nav a:hover {
    text-decoration: none;
    background: rgb(7, 148, 14);
    color: white;
}

a[class*="bloqueado"]{
    pointer-events: none;
    background: rgb(175, 189, 197);
}

@-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
