*
{
    margin:0 0;
}

#btnSiguiente{
    margin-right: .8vw;
    background-color: rgb(131, 153, 166);
    border-color:  rgb(7, 148, 14);
    padding: .3vw 1.2vw .3vw 1.2vw;
    position: absolute;
    right: 0;
    font-size: 1.2vw;
    margin-top: -1.5vh;
}

#btnAtras{
    background-color: rgb(131, 153, 166);
    border-color:  rgb(209, 40, 10);
    margin-right: 9vw;
    margin-top: -1.5vh;
    padding: .3vw 2vw .3vw 2vw;
    position: absolute;
    right: 0;
    font-size: 1.2vw;
}

#btnAtras:hover{
    background-color:  rgb(209, 40, 10);
}

.columnaBarraNavegacion{
    width: 100%;
    margin-top: 1.2vh;
}

.columnaBarraNavegacion nav{
    background-color: rgb(131, 153, 166);
    border-radius: none;
}

.columnaDerecha{
    height: 100%;
}

.columnaIzquierda{
    height: 100%;
}

.columnaLogo img{
    width: 35%;
    margin-left: -16px;
    margin-top: .2vh;
}

.columnaPrincipal{
    height: 100%;
}

.columnaTituloContenido{
    height: 50px;
    margin-top: 12px;
    margin: auto;
}

.columnaTituloContenido h2{
    border: 2px solid black;
    width: 40vw;
    text-align: center;
    margin-top: .2vh;
    font-size: 1.6vw;
}

.columnaTitulo h2{
    text-align: center;
    margin-top: 1.5vh;
    font-size: 1.6vw;
}

.contenedorContenidoPrincipal{
    border: 2px solid rgb(131, 153, 166);
    position: relative;
}

.contenedorPrincipal{
    height: 100vh;
	overflow: auto;
}

.filaBarraNavegacion{
    height: 9%;
}

.filaBotones{
    position: absolute;
    width: 100%;
    bottom: 0;
    height:5vh;
}

.filaContenido{
    height: 78%;
}

.filaContenidoPrincipal{
    height: 75%;
}

.filaLogoTitulo{
    height: 6%;
}

.filaPrincipal
{
    height: 100%;
}

.filaTituloContenido{
    height: 10%;
    margin-top: 1vh;
}

@font-face {
    font-family: 'Poppins';
    src: url("../poppinsBarraNavegacion/Poppins-Regular.otf") format("opentype");
}

nav a:not(.activo):hover {
    text-decoration: none;
    outline : none;
}

nav a{
    border: 1px solid green;
    text-decoration: none;
    color: white;
    padding: .8vw;
    border-right: 1px solid white;
    font-family: Poppins;
    font-size: .9vw;
    margin-top: 1px;
}

nav a:hover {
    text-decoration: none;
    background: rgb(7, 148, 14);
    color: white;
}

a[class*="bloqueado"]{
    pointer-events: none;
    background: rgb(175, 189, 197);
}

