#btnSiguiente:hover{
    background-color: rgb(7, 148, 14);
  }

.contenedorContenidioFormulario{
    display: flex;
  align-items: center;
  justify-content: center
}

.contenedorContenidioFormulario img{
    width: 100vh;
    height:55vh;
}