.columnaFormulario label{
    float: right;
    margin-top: 2.56vh;
    font-weight: bold;
}

.columnaFormulario input{
    margin-top: 2vh;
}

.columnaFormulario select{
    margin-top: 2vh;
}

.contenedorContenidoFormulario{
    margin-top: 4vh;
}