.col-md-1
{
    border:1px solid red;
}

.col-md-10
{
    border:1px solid green;
}

.encabezado
{
    text-align: center;   
}

.table
{
    width:100%;
    height:50%;
}

.table tbody{
   
    height: 120px;
    overflow-y: auto;
    
}

.form-group
{
    display: flex;
    width:70%;
    margin: 0 auto;
}