.columnaEnlace{
    height: 100%;
}

.columnaEnlace a{
    text-decoration: none !important;
}

.columnaEnlace p{
    margin-left: 7%; 
    margin-top: 5px;
    color: rgb(114, 153, 166);
    font-size: 1vw;
}

.contenedorActivo{
    background-color: rgb(7, 148, 14);
    -webkit-animation: jello-vertical 0.9s both;
	animation: jello-vertical 0.9s both;
}

.contenedorModulo{
    border:1px solid black;
    height: 95%;
    width:85% !important;
    margin-top: 30px;
}

.contenedorModulo:hover{
    border:1px solid rgb(7, 148, 14);
    cursor: pointer;
    background-color: rgb(7, 148, 14);
}

.filaEnlaces{
    height: 5%;
}

.filaTituloModulo{
    height: 20%;
}

.filaTituloModulo h1{
    margin-top: 10px;
    font-size: 2vw;
}

.filaImagenModulo{
    height: 50%;
}

.filaImagenModulo img{
    height: 100%;
    width: 100%;
}

.filaParrafoModulo{
    height: 30%;
}

.filaParrafoModulo p{
    margin-top: 1.5vh;
    margin-left: .8vw;
    margin-right: .8vw;
    text-align:justify;
    font-size: .8vw;
}

@-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }